/*general*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/*navbar*/ 

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f3c88;
    padding: 15px 30px;
}

.logo h1{
    color: white;
}

.menu{
    display: flex;
    gap: 20px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover{
    text-decoration: underline;
}

.menu-btn{
    display: none;
}

/*hero*/

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px;
    background-color: white;
}

.hero-image img{
    width: 220;
    height: 220;
    border-radius: 50%;
}

.hero-texto{
    max-width: 500px;
}

/*sobre mi*/

.sobre-mi{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

.columna{
    flex: 1;
    min-width: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.columna h2{
    margin-bottom: 15px;
}

.columna ul{
    list-style: none;
}